body {

  }
  header{
    width: 70%;
    position: relative;
    height: 50px;
  }
  #valikko{
    
  }

  #ansiovalikko{
  }
  #LNvalikko{
  }
  #pelitvalikko{
    visibility: hidden;
  }
  #yhteystiedotvalikko{
  }
  




  #tiedot{
    display: flex;
    background-color: greenyellow;
  }
  #ansio-otsikko{
    font-family: fantasy;
  }
  #ansioluettelo{
    position: relative;
    top: 10px;
    width: 33%;
    text-align: center;
  }
  #LN{
    position: relative;
    top: 10px;
    width: 33%;
    text-align: center;
  }
  
  #ansiokuva{
    width: 300px;
    height: auto;
    border-radius: 150px;
    position: relative;
    left: 5px;
    transition: filter 0.3s ease;
  }
  #ansiokuva:hover{
    filter: brightness(70%);
  }
 
  #LNkuva{
    width: 300px;
    height: auto;
    border-radius: 40px;
    position: relative;
    left: 5px;
  }
  #LN-otsikko{
    font-family: fantasy;
  }
  footer {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
