
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: white; 
  }
  
  
  @keyframes blink-animation {
    to{
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation{
    to{
      visibility: hidden;
    }
  }
  #enterArea{
    
    position: absolute;
    text-align: center;
    font-size: xx-large;
    top: 45%;
    animation: blink-animation 1.5s steps(5, Start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
  }
